.login-page {
  display: block;
  // .logo-area {
  //   height: 19.0rem;
  //   position: relative;
  //   .logo-bg {
  //     height: 100%;
  //   }
  //   .cc-logo {
  //     position: absolute;
  //     top: 50%; left: 50%;
  //     transform: translate(-50%,-50%);
  //   }
  // }
  .login-area {
    margin: auto;
    // margin-top: 6.0rem;
    padding-top: 12.0rem;
    .login-title {
      height: 7.0rem;
      border-bottom: 0.6rem solid #EEEEEE;
    }
    .login-input {
      margin-top: 3.0rem;
      height: 6.0rem;
      border-radius: 9.5rem;
      padding: 0 3.0rem;
      border: none;
      -webkit-appearance: none;
    }
    .login-button {
      float: right;
      margin-top: 6.0rem;
    }
  }
}